/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

body {
     background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

.titulo {
     font-size: 55px;
     text-transform: uppercase;
     letter-spacing: 7px;
}